@-webkit-keyframes gradient {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 100% 50%;
  }
}

@keyframes gradient {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 100% 50%;
  }
}

@-webkit-keyframes fade-in {
  0% {
    opacity: 0;
    visibility: hidden;
  }
  1% {
    opacity: 0;
    visibility: visible;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
    visibility: hidden;
  }
  1% {
    opacity: 0;
    visibility: visible;
  }
  100% {
    opacity: 1;
  }
}

.fade-in {
  -webkit-animation: fade-in 0.3s ease-in-out forwards;
          animation: fade-in 0.3s ease-in-out forwards;
}

@-webkit-keyframes fade-out {
  0% {
    opacity: 1;
    visibility: visible;
  }
  99% {
    opacity: 0;
    visibility: visible;
  }
  100% {
    opacity: 0;
    visibility: hidden;
  }
}

@keyframes fade-out {
  0% {
    opacity: 1;
    visibility: visible;
  }
  99% {
    opacity: 0;
    visibility: visible;
  }
  100% {
    opacity: 0;
    visibility: hidden;
  }
}

.fade-out {
  -webkit-animation: fade-out 0.3s ease-in-out forwards;
          animation: fade-out 0.3s ease-in-out forwards;
}

@-webkit-keyframes underline {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}

@keyframes underline {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}

html {
  font-size: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  background-color: #181618;
  font-family: "Montserrat", sans-serif;
  font-size: 1.5rem;
  color: #EAEAEA;
  width: 100%;
  overflow-x: hidden;
}

a {
  text-decoration: none;
}

ul,
li {
  list-style: none;
}

form {
  padding: 0;
  margin: 0;
}

@media (min-width: 64em) {
  .container {
    padding: 1.25rem 7.5rem 0;
  }
}

.container--pl {
  padding-left: 1.25rem;
}

.container--pr {
  padding-right: 1.25rem;
}

.container--px {
  padding-left: 1.25rem;
  padding-right: 1.25rem;
}

.container--py {
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
}

.container--pxy {
  padding-left: 1.25rem;
  padding-right: 1.25rem;
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
}

.container--mx {
  margin-left: 1.25rem;
  margin-right: 1.25rem;
}

.container--burger {
  margin-top: 6.875rem;
  margin-left: 1.25rem;
  margin-right: 1.25rem;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.flex-jc-sb {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.flex-jc-c {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.flex-jc-fe {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.flex-ai-c {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.flex-fd-c {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media (max-width: 63.9375em) {
  .hide-for-mobile {
    display: none;
  }
}

@media (min-width: 64em) {
  .hide-for-desktop {
    display: none;
  }
}

.default-btn {
  display: inline-block;
  font-family: "Noto Sans", sans-serif;
  letter-spacing: 0.1em;
  font-size: 1.5rem;
  background: transparent;
  border: 3px solid #08D9D6;
  padding: 1.2rem 3.2rem;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  color: #08D9D6;
  cursor: pointer;
}

.default-btn:hover {
  background-color: #08D9D6;
  color: #EAEAEA;
}

@media (max-width: 39.9375em) {
  .default-btn {
    font-size: 1.125rem;
  }
}

@media (min-width: 105em) {
  .default-btn {
    font-size: 1.6rem;
  }
}

.default-title {
  font-family: "Montserrat", sans-serif;
  color: #08D9D6;
  font-size: 2.5rem;
  font-weight: 700;
  letter-spacing: 0.05em;
  margin-bottom: 2.5rem;
}

.default-subtitle {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  margin-bottom: 2.5rem;
}

.svg-icon {
  fill: #EAEAEA;
}

.svg-icon:hover svg {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  fill: #FF2E63;
}

.disabled {
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  display: none;
}

.light-theme {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  background-color: #EAEAEA;
}

.light-theme .header__burger span {
  background-color: #252A34;
}

.light-theme .header__menu {
  background: #838383;
}

.light-theme .header__menu a {
  color: #08D9D6;
}

.light-theme a {
  color: #838383;
}

.light-theme nav a {
  color: #838383;
}

.light-theme .svg-icon {
  fill: #838383;
}

.light-theme .skills__skill {
  background: transparent;
}

.light-theme .skills__skill-name {
  color: #252A34;
}

.light-theme .skills__skill-progress::before {
  color: #EAEAEA;
  background: #252A34;
}

.light-theme .skills__skill-progress::after {
  background: #252A34;
}

.light-theme .skills .default-subtitle {
  color: #252A34;
}

.light-theme .contact {
  color: #252A34;
}

.light-theme .contact input,
.light-theme .contact textarea {
  background: #252A34;
}

.light-theme .contact input:focus,
.light-theme .contact textarea:focus {
  border: 1px solid #FF2E63;
}

.dark-theme {
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.header {
  height: 100vh;
}

.header__navigation {
  position: fixed;
  background: transparent;
  top: 0;
  left: 0;
  width: 100vw;
  z-index: 35;
}

.header nav {
  padding-top: 1.0625rem;
  padding-bottom: 1.0625rem;
  height: 5.625rem;
  z-index: 5;
}

.header__burger {
  padding: 0.9rem 0.75rem;
  border-radius: 0.1875rem;
  margin-right: 0.9375rem;
  z-index: 10;
}

.header__burger > span {
  display: block;
  width: 26px;
  height: 3px;
  background-color: #EAEAEA;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  -webkit-transform-origin: 9%;
          transform-origin: 9%;
}

.header__burger > span:not(:last-child) {
  margin-bottom: 0.3rem;
}

@media (max-width: 63.9375em) {
  .header__burger {
    position: fixed;
    right: 0;
  }
}

.header.open .header__burger > span:first-child {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.header.open .header__burger > span:nth-child(2) {
  opacity: 0;
}

.header.open .header__burger > span:last-child {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.header .overlay {
  visibility: hidden;
  position: fixed;
  top: 5.625rem;
  bottom: 0;
  left: 0;
  right: 0;
  background: -webkit-gradient(linear, left top, left bottom, from(#252A34), to(transparent));
  background: linear-gradient(#252A34, transparent);
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.header__links {
  height: 100%;
  font-size: 1.5rem;
  font-family: "Noto Sans", sans-serif;
  letter-spacing: 0.1em;
  z-index: 10;
}

.header__links a {
  color: #EAEAEA;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  position: relative;
}

.header__links a:not(:last-child) {
  margin-right: 3.125rem;
}

.header__links a::before {
  content: "";
  position: absolute;
  display: block;
  height: 3px;
  right: 0;
  left: 0;
  bottom: -1.875rem;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.header__links a:hover {
  color: #FF2E63;
}

.header__links a:hover::before {
  -webkit-animation: underline 0.3s;
          animation: underline 0.3s;
  background: #FF2E63;
}

@media (min-width: 105em) {
  .header__links {
    font-size: 1.75rem;
  }
}

.header .sun:hover svg,
.header .moon:hover svg {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.header__content {
  font-size: 2.5rem;
  padding-top: 10rem;
}

@media (min-width: 105em) {
  .header__content {
    padding-top: 14rem;
  }
}

.header__title {
  position: relative;
  max-width: 46.875rem;
  font-weight: 700;
  letter-spacing: 0.05em;
  line-height: 3.75rem;
  background-image: linear-gradient(45deg, #642b73, #c6426e);
  background-size: 200%;
  z-index: 10;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-animation: gradient 5s ease infinite alternate;
          animation: gradient 5s ease infinite alternate;
}

@media (max-width: 39.9375em) {
  .header__title {
    font-size: 2.5rem;
  }
}

@media (min-width: 40em) {
  .header__title {
    font-size: 3.75rem;
    line-height: 5rem;
    letter-spacing: 0.2rem;
  }
}

@media (min-width: 105em) {
  .header__title {
    font-size: 4.2rem;
    max-width: 50.5rem;
    line-height: 5.4375rem;
    letter-spacing: 0.08em;
  }
}

.header__subtitle {
  position: relative;
  font-size: 0.875rem;
  font-style: italic;
  color: #838383;
  letter-spacing: 0.1em;
  margin: 1.875rem 0 2.5rem;
  z-index: 10;
}

@media (max-width: 39.9375em) {
  .header__subtitle {
    font-size: 0.75rem;
    margin: 1rem 0 1rem;
  }
}

@media (min-width: 40em) {
  .header__subtitle {
    font-size: 1.2rem;
    letter-spacing: 0.2rem;
  }
}

@media (min-width: 105em) {
  .header__subtitle {
    font-size: 1.6rem;
    max-width: 50.5rem;
    margin: 1.875rem 0 2.5rem;
  }
}

@media (max-width: 39.9375em) {
  .header__social {
    display: none;
  }
}

.header__image-desktop, .header__image-mobile {
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 0;
}

.header__image-desktop {
  width: 39.9375rem;
  height: 42.25rem;
}

@media (min-width: 105em) {
  .header__image-desktop {
    width: 44.875rem;
    height: 47.5rem;
  }
}

@media (max-width: 87.4375em) {
  .header__image-desktop {
    opacity: 0.2;
  }
}

.header__image-mobile {
  opacity: 0.2;
  height: 32rem;
}

.header__btn {
  margin-bottom: 3.125rem;
  z-index: 10;
}

.header__menu {
  position: fixed;
  background: #252A34;
  -webkit-clip-path: polygon(30% 0, 100% 0, 100% 70%, 70% 100%, 0 100%, 0 30%);
          clip-path: polygon(30% 0, 100% 0, 100% 70%, 70% 100%, 0 100%, 0 30%);
  border-radius: 4px;
  padding: 1.625rem;
  z-index: 30;
  left: 50%;
  -webkit-transform: translateX(-56%);
          transform: translateX(-56%);
  width: 70%;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.header__menu a {
  color: #FF2E63;
  padding: 2rem 0;
  display: block;
  text-align: center;
}

.header__theme-toggle {
  margin-right: 5rem;
  margin-top: 0.5rem;
}

@media (max-width: 63.9375em) {
  .header__theme-toggle {
    margin-right: 7rem;
  }
}

.header__btn-social {
  display: inline-block;
}

.skills {
  padding-top: 10rem;
}

.skills__skill {
  font-family: "Noto Sans", sans-serif;
  font-weight: 700;
  max-width: 56.25rem;
  width: 100%;
  background: #252A34;
  border-radius: 5px;
}

.skills__skill-name {
  margin: 0.9375rem 0;
}

.skills__skill-bar {
  height: 0.875rem;
  background: #181618;
  border-radius: 3px;
}

.skills__skill-progress {
  position: relative;
  height: 0.875rem;
  background: #FF2E63;
  border-radius: 3px;
}

.skills__skill-progress::before {
  content: attr(per);
  position: absolute;
  padding: 5px;
  background: #EAEAEA;
  color: #252A34;
  font-size: 0.875rem;
  border-radius: 3px;
  top: -2.1875rem;
  right: 0;
  -webkit-transform: translateX(50%);
          transform: translateX(50%);
}

.skills__skill-progress::after {
  content: "";
  position: absolute;
  width: 0.625rem;
  height: 0.625rem;
  background: #EAEAEA;
  top: -0.9375rem;
  right: 0;
  -webkit-transform: translateX(50%) rotate(45deg);
          transform: translateX(50%) rotate(45deg);
}

.skills__tools {
  margin-top: 10rem;
}

.creativity {
  height: 0.875rem;
  background-size: 120%;
  background: linear-gradient(45deg, #7b4397, #dc2430);
  -webkit-animation: gradient 5s ease infinite alternate;
          animation: gradient 5s ease infinite alternate;
  border-radius: 3px;
}

.creativity::before {
  content: none;
}

.creativity::after {
  content: none;
}

.tools__cards {
  width: 100%;
  border-radius: 5px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (100fr)[3];
      grid-template-columns: repeat(3, 100fr);
}

@media (max-width: 39.9375em) {
  .tools__cards {
    -ms-grid-columns: (100fr)[2];
        grid-template-columns: repeat(2, 100fr);
  }
}

.tools__card {
  display: inline-block;
  border-radius: 5px;
  max-width: 200px;
  text-align: center;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  color: transparent;
  margin: 0 auto;
}

.tools__card:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  background: #EAEAEA;
  color: #252A34;
}

@media (max-width: 63.9375em) {
  .tools__card {
    color: #EAEAEA;
  }
}

.tools__image {
  margin: 0 auto;
}

.tools__image img {
  max-width: 175px;
  max-height: 176px;
  width: 100%;
  height: 100%;
}

.tools__name {
  margin-top: 1rem;
}

.contact {
  padding-top: 10rem;
}

.contact__form {
  max-width: 43.75rem;
}

.contact__subtitle span {
  font-size: 1.875rem;
}

.contact__btn {
  margin-top: 1rem;
  float: right;
  border: 3px solid #FF2E63;
  color: #FF2E63;
}

.contact__btn:hover {
  background: #FF2E63;
  color: #EAEAEA;
}

.contact input,
.contact textarea {
  font-family: "Noto Sans", sans-serif;
  font-size: 1.125rem;
  font-weight: bold;
  border: none;
  outline: none;
  background: #252A34;
  color: #EAEAEA;
  width: 100%;
  padding: 1.25rem;
  border: 1px solid transparent;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.contact input:focus,
.contact textarea:focus {
  border: 1px solid #08D9D6;
}

.contact input {
  margin-bottom: 0.75rem;
}

.contact input[name="name"] {
  width: 100%;
  margin-right: 0;
  margin-top: 0;
}

.contact input[name="last_name"] {
  margin-left: 0;
  width: 100%;
}

.contact textarea {
  resize: none;
}

.names {
  display: inline-block;
  width: 49%;
}

.last {
  margin-left: 0.375rem;
}

@media screen and (max-width: 40.8125em) {
  .names {
    display: block;
    width: 100%;
  }
  .last {
    margin-left: 0;
  }
}
