@-webkit-keyframes gradient {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 100% 50%;
  }
}

@keyframes gradient {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 100% 50%;
  }
}

@-webkit-keyframes fade-in {
  0% {
    opacity: 0;
    visibility: hidden;
  }
  1% {
    opacity: 0;
    visibility: visible;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
    visibility: hidden;
  }
  1% {
    opacity: 0;
    visibility: visible;
  }
  100% {
    opacity: 1;
  }
}

.fade-in {
  -webkit-animation: fade-in 0.3s ease-in-out forwards;
          animation: fade-in 0.3s ease-in-out forwards;
}

@-webkit-keyframes fade-out {
  0% {
    opacity: 1;
    visibility: visible;
  }
  99% {
    opacity: 0;
    visibility: visible;
  }
  100% {
    opacity: 0;
    visibility: hidden;
  }
}

@keyframes fade-out {
  0% {
    opacity: 1;
    visibility: visible;
  }
  99% {
    opacity: 0;
    visibility: visible;
  }
  100% {
    opacity: 0;
    visibility: hidden;
  }
}

.fade-out {
  -webkit-animation: fade-out 0.3s ease-in-out forwards;
          animation: fade-out 0.3s ease-in-out forwards;
}

html {
  font-size: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  background-color: #181618;
  font-family: "Montserrat", sans-serif;
  font-size: 1.5rem;
  color: #EAEAEA;
  width: 100%;
  overflow-x: hidden;
}

a {
  text-decoration: none;
}

@media (min-width: 64em) {
  .container {
    padding: 1.25rem 7.5rem 0;
  }
}

.container--pl {
  padding-left: 1.25rem;
}

.container--pr {
  padding-right: 1.25rem;
}

.container--px {
  padding-left: 1.25rem;
  padding-right: 1.25rem;
}

.container--mx {
  margin-left: 1.25rem;
  margin-right: 1.25rem;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.flex-jc-sb {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.flex-jc-c {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.flex-jc-fe {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.flex-ai-c {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.flex-fd-c {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media (max-width: 63.9375em) {
  .hide-for-mobile {
    display: none;
  }
}

@media (min-width: 64em) {
  .hide-for-desktop {
    display: none;
  }
}

.default-btn {
  display: inline-block;
  font-family: "Noto Sans", sans-serif;
  letter-spacing: 0.1em;
  font-size: 1.5rem;
  border: 3px solid #08D9D6;
  padding: 1.2rem 3.2rem;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  color: #08D9D6;
}

.default-btn:hover {
  background-color: #08D9D6;
  color: #EAEAEA;
}

@media (max-width: 39.9375em) {
  .default-btn {
    font-size: 1.125rem;
  }
}

@media (min-width: 105em) {
  .default-btn {
    font-size: 1.6rem;
  }
}

.svg-icon {
  fill: #EAEAEA;
}

.svg-icon:hover svg {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  fill: #FF2E63;
}

.disabled {
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  display: none;
}

.light-theme {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  background-color: #EAEAEA;
}

.light-theme a {
  color: #838383;
}

.light-theme nav a {
  color: #838383;
}

.light-theme .svg-icon {
  fill: #838383;
}

.dark-theme {
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.header {
  height: 100vh;
}

.header__navigation {
  position: fixed;
  top: 0;
  left: 0;
  background: #642b73;
  -webkit-filter: blur(20px);
          filter: blur(20px);
  width: 100vw;
}

.header nav {
  padding-top: 1.0625rem;
  padding-bottom: 1.0625rem;
  height: 5.625rem;
}

.header__burger {
  padding: 0.9rem 0.75rem;
  border-radius: 0.1875rem;
  margin-right: 0.9375rem;
  background: linear-gradient(45deg, #642b73, #c6426e);
  z-index: 10;
}

.header__burger > span {
  display: block;
  width: 26px;
  height: 3px;
  background-color: #EAEAEA;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  -webkit-transform-origin: 9%;
          transform-origin: 9%;
}

.header__burger > span:not(:last-child) {
  margin-bottom: 0.3rem;
}

@media (max-width: 63.9375em) {
  .header__burger {
    position: fixed;
    right: 0;
  }
}

.header.open .header__burger > span:first-child {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.header.open .header__burger > span:nth-child(2) {
  opacity: 0;
}

.header.open .header__burger > span:last-child {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.header .overlay {
  visibility: hidden;
  position: fixed;
  top: 5.625rem;
  bottom: 0;
  left: 0;
  right: 0;
  background: -webkit-gradient(linear, left top, left bottom, from(#252A34), to(transparent));
  background: linear-gradient(#252A34, transparent);
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.header__links {
  height: 100%;
  font-size: 1.5rem;
  font-family: "Noto Sans", sans-serif;
  letter-spacing: 0.1em;
  z-index: 10;
}

.header__links a {
  color: #EAEAEA;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  position: relative;
}

.header__links a:not(:last-child) {
  margin-right: 3.125rem;
}

.header__links a::before {
  content: "";
  position: absolute;
  display: block;
  height: 3px;
  right: 0;
  left: 0;
  bottom: -1.875rem;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.header__links a:hover {
  color: #FF2E63;
}

.header__links a:hover::before {
  background: #FF2E63;
}

@media (min-width: 105em) {
  .header__links {
    font-size: 1.75rem;
  }
}

.header .sun:hover svg,
.header .moon:hover svg {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.header__content {
  font-size: 2.5rem;
  padding-top: 8.125rem;
}

@media (max-width: 23.375em) {
  .header__content {
    padding-top: 4rem;
  }
}

@media (min-width: 105em) {
  .header__content {
    padding-top: 10rem;
  }
}

.header__title {
  position: relative;
  max-width: 46.875rem;
  font-weight: 700;
  letter-spacing: 0.05em;
  line-height: 3.75rem;
  background-image: linear-gradient(45deg, #642b73, #c6426e);
  background-size: 200%;
  z-index: 10;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-animation: gradient 5s ease infinite alternate;
          animation: gradient 5s ease infinite alternate;
}

@media (max-width: 39.9375em) {
  .header__title {
    font-size: 2.5rem;
  }
}

@media (min-width: 40em) {
  .header__title {
    font-size: 3.75rem;
    line-height: 5rem;
    letter-spacing: 0.2rem;
  }
}

@media (min-width: 105em) {
  .header__title {
    font-size: 4.2rem;
    max-width: 50.5rem;
    line-height: 5.4375rem;
    letter-spacing: 0.08em;
  }
}

.header__subtitle {
  position: relative;
  font-size: 0.875rem;
  font-style: italic;
  color: #838383;
  letter-spacing: 0.1em;
  margin: 1.875rem 0 2.5rem;
  z-index: 10;
}

@media (max-width: 39.9375em) {
  .header__subtitle {
    font-size: 0.75rem;
    margin: 1rem 0 1rem;
  }
}

@media (min-width: 40em) {
  .header__subtitle {
    font-size: 1.2rem;
    letter-spacing: 0.2rem;
  }
}

@media (min-width: 105em) {
  .header__subtitle {
    font-size: 1.6rem;
    max-width: 50.5rem;
    margin: 1.875rem 0 2.5rem;
  }
}

.header__social {
  z-index: 10;
}

.header__social a:not(:last-child) {
  margin-right: 1.5rem;
}

@media (max-width: 39.9375em) {
  .header__social {
    display: none;
  }
}

@media (min-width: 105em) {
  .header__social a:not(:last-child) {
    margin-right: 2.1rem;
  }
}

.header__image-desktop, .header__image-mobile {
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 0;
}

.header__image-desktop {
  width: 39.9375rem;
  height: 42.25rem;
}

@media (min-width: 105em) {
  .header__image-desktop {
    width: 44.875rem;
    height: 47.5rem;
  }
}

@media (max-width: 87.4375em) {
  .header__image-desktop {
    opacity: 0.2;
  }
}

.header__image-mobile {
  opacity: 0.2;
  height: 32rem;
}

.header__btn {
  margin-bottom: 3.125rem;
  z-index: 10;
}

.header__menu {
  position: fixed;
  background: #252A34;
  border-radius: 4px;
  padding: 1.625rem;
  z-index: 30;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 70%;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.header__menu a {
  color: #FF2E63;
  padding: 1.6rem 0;
  display: block;
  text-align: center;
}
