@keyframes gradient {
    0% {
        background-position: 0 0;
    }
    100% {
        background-position: 100% 50%;
    }
}

@keyframes fade-in {
    0% {
        opacity: 0;
        visibility: hidden;
    }
    1%{
        opacity: 0;
        visibility: visible;
    }
    100% {
        opacity: 1;
    }
}

.fade-in {
    animation: fade-in $Time ease-in-out forwards;
}

@keyframes fade-out {
    0% {
        opacity: 1;
        visibility: visible;
    }
    99% {
        opacity: 0;
        visibility: visible;
    }
    100% {
        opacity: 0;
        visibility: hidden;
    }
}

.fade-out {
    animation: fade-out $Time ease-in-out forwards;
}

@keyframes underline {
    0% {
        width: 0;
    }
    100% {
        width: 100%;
    }
}

// @keyframes special-skill {
//     0% {
//         width: 0;
//     }
//     50% {
//         width: 100%;
//     }
//     75% {
//         width: 75%;
//     }
//     100% {
//         width: 120%;

//     }
// }
