html {
    font-size: 100%;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

*,
*::before,
*::after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

body {
    background-color: $DarkGrey;
    font-family: $MainFont;
    font-size: 1.5rem;
    color: $White;
    width: 100%;
    overflow-x: hidden;
}

a {
    text-decoration: none;
}

.container {
    @include breakpoint-up(large) {
        padding: 1.25rem 7.5rem 0;
    }

    &--pl {
        padding-left: 1.25rem;
    }

    &--pr {
        padding-right: 1.25rem;
    }

    &--px {
        padding-left: 1.25rem;
        padding-right: 1.25rem;
    }
}

// Flexbox
.flex {
    display: flex;

    &-jc-sb {
        justify-content: space-between;
    }

    &-ai-c {
        align-items: center;
    }
}

.hide-for-mobile { // Hide for tablets and mobile
    @include breakpoint-down(medium) {
        display: none;
    }
}

.hide-for-desktop { // Hide for desktop viewport width
    @include breakpoint-up(large) {
        display: none;
    }
}

.default-btn {
    display: inline-block;
    font-family: $SecondFont;
    letter-spacing: 0.1em;
    font-size: 1.5rem;
    border: 3px solid $Turquoise;
    padding: 1.2rem 3.2rem;
    transition: $Time;
    color: $Turquoise;

    &:hover {
        background-color: $Turquoise;
        color: $White;
    }

    @include breakpoint-down(small) {
        font-size: 1.125rem;
    }

    @include breakpoint-up(super) {
        font-size: 1.6rem;
        
    }
}

.svg-icon {
    fill: $White;

    &:hover svg{
        transition: $Time;
        fill: $Pink;
    }
}

.disabled {
    display: none;
}

.light-theme {
    transition: $Time;
    background-color: $White;
    a {
        color: $Grey;
    }
    nav {
        a {
            color: $Grey;
        }
    }

    .svg-icon {
        fill: $Grey;
    }
}

.dark-theme {
    transition: $Time;
}





