html {
    font-size: 100%;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

*,
*::before,
*::after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

body {
    background-color: $DarkGrey;
    font-family: $MainFont;
    font-size: 1.5rem;
    color: $White;
    width: 100%;
    overflow-x: hidden;
}

a {
    text-decoration: none;
}

ul,
li {
    list-style: none;
}

form {
    padding: 0;
    margin: 0;
}

.container {
    @include breakpoint-up(large) {
        padding: 1.25rem 7.5rem 0;
    }

    &--mt {
        //padding-bottom: 1.25rem;
    }

    &--pl {
        padding-left: 1.25rem;
    }

    &--pr {
        padding-right: 1.25rem;
    }

    &--px {
        padding-left: 1.25rem;
        padding-right: 1.25rem;
    }

    &--py {
        padding-top: 1.25rem;
        padding-bottom: 1.25rem;
    }

    &--pxy {
        padding-left: 1.25rem;
        padding-right: 1.25rem;
        padding-top: 1.25rem;
        padding-bottom: 1.25rem;
    }

    &--mx {
        margin-left: 1.25rem;
        margin-right: 1.25rem;
    }

    &--burger {
        margin-top: 6.875rem;
        margin-left: 1.25rem;
        margin-right: 1.25rem;
    }
}

// Flexbox
.flex {
    display: flex;

    &-jc-sb {
        justify-content: space-between;
    }

    &-jc-c {
        justify-content: center;
    }

    &-jc-fe {
        justify-content: flex-end;
    }

    &-ai-c {
        align-items: center;
    }

    &-fd-c {
        flex-direction: column;
    }
}

.hide-for-mobile {
    // Hide for tablets and mobile
    @include breakpoint-down(medium) {
        display: none;
    }
}

.hide-for-desktop {
    // Hide for desktop viewport width
    @include breakpoint-up(large) {
        display: none;
    }
}

.default-btn {
    display: inline-block;
    font-family: $SecondFont;
    letter-spacing: 0.1em;
    font-size: 1.5rem;
    background: transparent;
    border: 3px solid $Turquoise;
    padding: 1.2rem 3.2rem;
    transition: $Time;
    color: $Turquoise;
    cursor: pointer;

    &:hover {
        background-color: $Turquoise;
        color: $White;
    }

    @include breakpoint-down(small) {
        font-size: 1.125rem;
    }

    @include breakpoint-up(super) {
        font-size: 1.6rem;
    }
}

.default-title {
    font-family: $MainFont;
    color: $Turquoise;
    font-size: $Font-heading;
    font-weight: 700;
    letter-spacing: 0.05em;
    margin-bottom: 2.5rem;
}

.default-subtitle {
    font-family: $MainFont;
    font-weight: 400;
    margin-bottom: 2.5rem;
}

.svg-icon {
    fill: $White;

    &:hover svg {
        transition: $Time;
        fill: $Pink;
    }
}

.disabled {
    transition: all $Time ease;
    display: none;
}

.light-theme {
    transition: $Time;
    background-color: $White;
    .header {
        &__burger {
            span {
                background-color: $LightGrey;
            }
        }

        &__menu {
            background: $Grey;

            a {
                color: $Turquoise;
            }
        }
    }

    a {
        color: $Grey;
    }
    nav {
        a {
            color: $Grey;
        }
    }

    .svg-icon {
        fill: $Grey;
    }

    .skills {

        &__skill {
            background: transparent;
        }

        &__skill-name {
            color: $LightGrey;
        }

        &__skill-progress {
            &::before {
                color: $White;
                background: $LightGrey;
            }

            &::after {
                background: $LightGrey;
            }
        }

        .default-subtitle {
            color: $LightGrey;
        }
    }

    .contact {
        color: $LightGrey;

        input,
        textarea {
            background: $LightGrey;

            &:focus {
                border: 1px solid $Pink;
            }
        }
    }
    
}

.dark-theme {
    transition: $Time;
}
