.header {
    height: 100vh;

    &__navigation {
        position: fixed;
        background: transparent;
        //filter: blur(10px);
        top: 0;
        left: 0;
        width: 100vw;
        z-index: 35;
    }

    nav {
        padding-top: 1.0625rem;
        padding-bottom: 1.0625rem;
        height: 5.625rem;
        z-index: 5;
    }

    &__burger {
        padding: 0.9rem 0.75rem;
        border-radius: 0.1875rem;
        margin-right: 0.9375rem;
        //background: linear-gradient(45deg, #642b73, #c6426e);
        z-index: $ZMain;
        > span {
            display: block;
            width: 26px;
            height: 3px;
            background-color: $White;
            transition: all $Time;
            transform-origin: 9%;

            &:not(:last-child) {
                margin-bottom: 0.3rem;
            }
        }

        @include breakpoint-down(medium) {
            position: fixed;
            right: 0;
        }
    }

    &.open {
        .header__burger {
            > span:first-child {
                transform: rotate(45deg);
            }

            > span:nth-child(2) {
                opacity: 0;
            }

            > span:last-child {
                transform: rotate(-45deg);
            }
        }
    }

    .overlay {
        visibility: hidden;
        position: fixed;
        top: 5.625rem;
        bottom: 0;
        left: 0;
        right: 0;
        background: linear-gradient($LightGrey, transparent);
        transition: $Time;
    }

    &__links {
        height: 100%;
        font-size: $Font-text;
        font-family: $SecondFont;
        letter-spacing: 0.1em;
        z-index: $ZMain;

        a {
            color: $White;
            transition: $Time;
            position: relative;

            // &:first-child {
            //     height: 36px;
            //     width: 36px;
            // }

            &:not(:last-child) {
                margin-right: 3.125rem;
            }

            &::before {
                content: "";
                position: absolute;
                display: block;
                height: 3px;
                right: 0;
                left: 0;
                bottom: -1.875rem;
                transition: $Time;
            }

            &:hover {
                color: $Pink;

                &::before {
                    animation: underline $Time;
                    background: $Pink;
                }
            }
        }

        @include breakpoint-up(super) {
            font-size: 1.75rem;
        }
    }

    .sun,
    .moon {
        &:hover svg {
            transform: scale(1.1);
        }
    }

    &__content {
        font-size: 2.5rem;
        padding-top: 10rem;

        // @include breakpoint-down(mobile) {
        //     padding-top: 4rem;
        // }

        @include breakpoint-up(super) {
            padding-top: 14rem;
        }
    }

    &__title {
        position: relative;
        max-width: 46.875rem;
        font-weight: 700;
        letter-spacing: 0.05em;
        line-height: 3.75rem;
        background-image: linear-gradient(45deg, #642b73, #c6426e);
        background-size: 200%;
        z-index: $ZMain;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;

        animation: gradient 5s ease infinite alternate;

        @include breakpoint-down(small) {
            font-size: 2.5rem;
        }

        @include breakpoint-up(medium) {
            font-size: 3.75rem;
            line-height: 5rem;
            letter-spacing: 0.2rem;
        }

        @include breakpoint-up(super) {
            font-size: 4.2rem;
            max-width: 50.5rem;
            line-height: 5.4375rem;
            letter-spacing: 0.08em;
        }
    }

    &__subtitle {
        position: relative;
        font-size: 0.875rem;
        font-style: italic;
        color: $Grey;
        letter-spacing: 0.1em;
        margin: 1.875rem 0 2.5rem;
        z-index: $ZMain;

        @include breakpoint-down(small) {
            font-size: 0.75rem;
            margin: 1rem 0 1rem;
        }

        @include breakpoint-up(medium) {
            font-size: 1.2rem;
            //line-height: 4.5rem;
            letter-spacing: 0.2rem;
        }

        @include breakpoint-up(super) {
            font-size: 1.6rem;
            max-width: 50.5rem;
            margin: 1.875rem 0 2.5rem;
        }
    }

    &__social {
        @include breakpoint-down(small) {
            display: none;
        }
    }

    &__image-desktop,
    &__image-mobile {
        position: absolute;
        bottom: 0;
        right: 0;
        z-index: $ZSecond;
    }

    &__image-desktop {
        width: 39.9375rem;
        height: 42.25rem;

        @include breakpoint-up(super) {
            width: 44.875rem;
            height: 47.5rem;
        }

        @include breakpoint-down(large) {
            opacity: 0.2;
        }
    }

    &__image-mobile {
        opacity: 0.2;
        height: 32rem;
    }

    &__btn {
        margin-bottom: 3.125rem;
        z-index: $ZMain;
    }

    .telegram {
    }
    .linkedin {
    }
    .instagram {
    }
    .github {
    }

    &__menu {
        position: fixed;
        background: $LightGrey;
        clip-path: polygon(30% 0, 100% 0, 100% 70%, 70% 100%, 0 100%, 0 30%);
        border-radius: 4px;
        padding: 1.625rem;
        z-index: 30;
        left: 50%;
        transform: translateX(-56%);
        width: 70%;
        transition: $Time;

        a {
            color: $Pink;
            padding: 2rem 0;
            display: block;
            text-align: center;
        }
    }

    &__theme-toggle {
        margin-right: 5rem;
        margin-top: 0.5rem;

        @include breakpoint-down(medium) {
            margin-right: 7rem;
        }

    }

    &__btn-social {
        display: inline-block;
    }
}
