.header {
    height: 100vh;
    nav {
        padding-top: 1.0625rem;
        padding-bottom: 1.0625rem;
        height: 5.625rem;
    }

    &__burger {
        padding: 0.9rem 0.75rem;
        border-radius: 0.1875rem;
        margin-right: 0.9375rem;
        background: linear-gradient(45deg, #642B73, #C6426E);
        > span {
            display: block;
            width: 30px;
            height: 3px;
            background-color: $White;

            &:not(:last-child) {
                margin-bottom: 0.3rem;
            }
        }

        @include breakpoint-down(medium) {
            position: fixed;
            right: 0;
        }
    }

    &__links {
        height: 100%;
        font-size: $Font-text;
        font-family: $SecondFont;
        letter-spacing: 0.1em;
        
        a {
            color: $White;
            transition: $Time;
            position: relative;

            &:first-child{
                height: 36px;
                width: 36px;
            }

            &:not(:last-child) {
                margin-right: 3.125rem;
            }
            
            &:not(:first-child)::before {
                content: "";
                position: absolute;
                display: block;
                height: 3px;
                right: 0;
                left: 0;
                bottom: -1.875rem;
                transition: $Time;
            }

            &:hover {
                color: $Pink;

                &::before {
                    background: $Pink;
                }
            }
        }

        @include breakpoint-up(super) {
            font-size: 1.75rem;
        }
    }

    .sun, .moon {

        &:hover svg{
            transform: scale(1.1);
        }
        

    }

    .moon {

    }

    &__content {
        font-size: 2.5rem;
        padding-top: 8.125rem;

        @include breakpoint-down(mobile) {
            padding-top: 4rem;
        }

        @include breakpoint-up(super) {
            padding-top: 10rem;
        }
    }

    &__title {
        max-width: 46.875rem;
        font-weight: 700;
        letter-spacing: 0.05em;
        line-height: 3.75rem;
        background-image: linear-gradient(45deg, #642B73, #C6426E);
        background-size: 200%;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;

        animation: gradient 5s ease infinite alternate;

        @include breakpoint-down(small) {
            font-size: 2.5rem;
        }

        @include breakpoint-up(medium) {
            font-size: 3.75rem;
            line-height: 5rem;
            letter-spacing: 0.2rem;
        }

        @include breakpoint-up(super) {
            font-size: 4.2rem;
            max-width: 50.5rem;
            line-height: 5.4375rem;
            letter-spacing: 0.08em;
        }
    }

    &__subtitle {
        font-size: 0.875rem;
        font-style: italic;
        color: $Grey;
        letter-spacing: 0.1em;
        margin: 1.875rem 0 2.5rem;

        @include breakpoint-down(small) {
            font-size: 0.75rem;
            margin: 1rem 0 1rem;
        }

        @include breakpoint-up(medium) {
            font-size: 1.2rem;
            //line-height: 4.5rem;
            letter-spacing: 0.2rem;
            
        }

        @include breakpoint-up(super) {
            font-size: 1.6rem;
            max-width: 50.5rem;
            margin: 1.875rem 0 2.5rem;
            
        }
    }

    &__social {
        a {
            &:not(:last-child) {
                margin-right: 1.5rem;
            }
        }
        @include breakpoint-down(small) {
            display: none;
        }

        @include breakpoint-up(super) {
            a {
                &:not(:last-child) {
                    margin-right: 2.1rem;
                }   
            }
            
        }
    }

    &__image-desktop, &__image-mobile {
        position: absolute;
        bottom: 0;
        right: 0;
        z-index: 1;
    }

    &__image-desktop {
        width: 39.9375rem;
        height: 42.25rem;

        @include breakpoint-up(super) {
            width: 44.875rem;
            height: 47.5rem;
        }

        @include breakpoint-down(large) {
            opacity: .2;
        }
    }

    &__image-mobile {
        opacity: .2;
        height: 32rem;
    }

    &__btn {
        margin-bottom: 3.125rem;
    }


    .telegram {
    }
    .linkedin {
    }
    .instagram {
    }
    .github {
    }
}
