// Colors

$DarkGrey: #181618;
$Grey: #838383;
$LightGrey: #252A34;
$Turquoise : #08D9D6;
$Pink: #FF2E63;
$White: #EAEAEA;

// Fonts

$MainFont: 'Montserrat', sans-serif;
$SecondFont: 'Noto Sans', sans-serif;

// Font Sizes 

$Font-text: 1.5rem; // 24px
$Font-h1: 4rem; // 64px
$Font-heading: 2.25rem; // 36px

// Animation time

$Time: .3s;

// Z-index

$ZMain: 10;
$ZSecond: 0;